@import "https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap";

@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap";

*
{
	margin:0;
	padding:0;
	box-sizing:border-box
}

html
{
	font-family:'Nunito',sans-serif;
	font-size:15px;
	color:#000
}

body
{
	min-height:100vh;
	align-items:center
}

.App
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	margin-left:50px
}

#root
{
	display:flex;
	flex-direction:column;
	align-items:center
}

main
{
	width:100%
}

section
{
	display:flex;
	width:100%;
	min-height:400px;
	flex-direction:column;
	justify-content:left;
	align-items:center;
	padding:1rem
}

.welcome_message
{
	display:flex;
	flex-direction:column;
	max-width:600px;
	margin-top:40px;
	gap:1rem;
	padding-bottom:1rem
}

.register-form
{
	display:flex;
	flex-direction:column;
	gap:1.5rem;
	width:100%;
	max-width:800px;
	background-color:#00000006;
	border-radius:20px;
	border-style:solid;
	border-width:1px;
	border-color:#00000007;
	padding:10px;
	font-family:'Nunito Sans',sans-serif
}

.form-section
{
	display:grid;
	border:none;
	gap:1rem;
	grid-template-columns:repeat(2,minmax(0,1fr));
	padding-bottom:1rem
}

.form-section legend
{
	font-size:20px;
	font-weight:500;
	display:flex;
	align-items:center
}

.form-field
{
	display:flex;
	flex-direction:column;
	gap:1rem
}

.form-field label
{
	display:flex;
	align-items:center;
	gap:.5rem
}

.form-field input
{
	width:100%
}

.radio-group
{
	grid-column:1/-1;
	display:flex;
	align-items:center;
	gap:2rem
}

.form-button
{
	grid-column:1 / -1
}

.login-form
{
	display:flex;
	flex-direction:column;
	align-items:left
}

.login-set
{
	display:flex;
	flex-direction:column;
	gap:1rem
}

.table-container
{
	width:100%;
	overflow-x:auto;
	overflow-y:auto;
	background:#fff;
	border:1px solid #e9e9e9;
	border-radius:12px;
	box-shadow:0 4px 20px #0000000d
}

.table-container h1
{
	font-family:'Nunito'
}

.adminTable
{
	width:100%;
	border-collapse:collapse;
	font-family:Inter,Arial,sans-serif;
	font-size:14px;
	color:#333
}

.adminTable th
{
	padding:16px;
	text-align:center;
    justify-content: center;
	background:#f8fafc;
	color:#64748b;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:.05em;
    line-height: 2;
	border-bottom:1px solid #e5e7eb
}

.adminTable th:hover
{
	cursor:pointer
}

.adminTable td
{
	padding:16px;
	border-bottom:1px solid #f0f0f0;
	text-align:center;
}

/* ****************************************************************** */


.action_cell {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

/* Ellipsis button */
.ellipsis {
  padding: 4px;
  cursor: pointer;
}

/* Hidden icons */
.actionIcons {
  position: relative;
  transform: translateY(0) translateX(0);
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease, transform 0.15s ease;
  white-space: nowrap;
}
.actionIcons.open {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0) translateX(0);
	background: #dfe1e3;
}


/* Icon buttons */
.action_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}




/* ****************************************************************** */
.adminTable tbody tr
{
	transition:.4s ease
}

.adminTable tbody tr:hover
{
	background-color:#f8fafc
}


.db-table tbody tr:last-child td
{
	border-bottom:none
}

Link
{
	color:#006eff
}

input[type="text"],input[type="password"],input[type="email"],button,textarea
{
	font-family:'Nunito',sans-serif;
	font-size:22px;
	padding:.25rem;
	border-radius:.5rem
}

label,button
{
	margin-top:1rem
}

button
{
	padding:.5rem
}

.instructions
{
	font-size:.75rem;
	border-radius:.5rem;
	background:#6c6c6c;
	color:#fff;
	padding:.25rem;
	position:relative;
	bottom:-10px
}

.instructions > svg
{
	margin-right:.25rem
}

.offscreen
{
	position:absolute;
	left:-9999px
}

.hide
{
	display:none
}

.valid
{
	color:#32cd32;
	margin-left:.25rem
}

.invalid
{
	color:red;
	margin-left:.25rem
}

.errmsg
{
	background-color:#ffb6c1;
	color:#b22222;
	font-weight:700;
	padding:.5rem;
	margin-bottom:.5rem
}

.line
{
	display:inline-block
}

.header_style
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:100%;
	height:fit-content;
	padding:26px 30px
}

.header_box_right
{
	display:flex;
	flex-direction:row;
	padding:14px 30px;
	gap:40px;
	align-items:center;
	justify-content:center
}

.header_link
{
	color:#111827;
	text-decoration:none;
	font-family:'Nunito Sans';
	font-size:14pt
}

.header_link:hover
{
	text-decoration:underline
}

.header_button
{
	color:#000;
	background:none;
	border:none;
	margin:0;
	font-family:'Nunito Sans';
	font-size:14pt
}

.header_button:hover
{
	background-color:#00000008;
	cursor:pointer
}

.dropbutton
{
	background-color:#fff;
	padding:16px;
	font-family:'Nunito Sans';
	font-weight:medium;
	font-size:14pt;
	border:none
}

.dropcontent
{
	display:none;
	min-width:fit-content;
	position:absolute;
	background-color:#6EC946;
	box-shadow:0 8px 16px 0 #0003;
	z-index:1
}

.dropcontent Link
{
	color:#000;
	padding:12px 16px;
	text-decoration:none;
	display:block
}

.dropdown:hover .dropcontent
{
	display:block
}

.dropdown:hover .dropbtn
{
	background-color:#3e8e41
}

.footer_style
{
	display:flex;
	padding:26px 30px;
	flex-direction:column;
	background-color:#9f9f9f;
	text-align:center;
	width:100%
}

.logo
{
	display:flex;
	flex-direction:column;
	line-height:1;
	justify-content:center
}

.logo_title
{
	color:#000;
	font-family:'Fraunces',serif;
	font-size:30px;
	font-weight:800;
	letter-spacing:-.5px;
	text-decoration:none
}

.logo_subtitle
{
	color:#9f9f9f;
	font-family:'Fraunces',serif;
	font-size:15px;
	font-weight:700;
	letter-spacing:.2px
}

.home_layout
{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:auto auto;
	width:100%;
	height:fit-content;
	gap:30px;
	padding:30px
}

.home_disclaimer,.register_disclaimer
{
	font-weight:700;
	line-height:150%;
	padding:15px;
	text-align:center;
	height:fit-content;
	background-color:#f6e15a61;
	grid-column:1/-1;
	grid-row:1/2;
	border-radius:20px
}

.home_title
{
	font-family:'Fraunces',serif;
	font-weight:600;
	font-size:35px;
	line-height:1;
	color:#111827
}

.home_title .studup
{
	color:#387f81
}

.home_text1
{
	align-content:start;
	color:#4b5563;
	font-family:'Nunito Sans',sans-serif;
	font-weight:400;
	line-height:150%;
	font-size:17px;
	letter-spacing:0;
	grid-column:1/2;
	grid-row:2/3
}

.home_text2
{
	align-content:start;
	color:#4b5563;
	font-family:'Nunito Sans',sans-serif;
	font-weight:400;
	line-height:150%;
	font-size:17px;
	letter-spacing:0;
	grid-column:2/3;
	grid-row:3/4
}

.home_footer
{
	text-align:center;
	grid-column:1/-1;
	grid-row:4/5
}

.home_text2 p
{
	margin-bottom:20px
}

.home_text2 ul
{
	margin-bottom:20px;
	padding-left:24px
}

.profRecap
{
	display:flex;
	flex-direction:row;
	width:100%;
	height:fit-content;
	justify-content:center;
	gap:15px;
	padding-top:25px;
	padding-bottom:25px
}

.cardProf
{
	width:250px;
	height:fit-content;
	border-color:#4b55631f;
	border-width:2px;
	border-style:solid;
	border-radius:20px;
	display:flex;
	flex-direction:column;
	align-items:end;
	padding:15px;
	gap:5px;
	font-family:'Nunito Sans',sans-serif
}

.cardProfSummary
{
	display:flex;
	flex-direction:column
}

.cardSummaryAndLogo
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100%;
	gap:10px
}

.cardProf h1
{
	font-weight:600;
	font-size:25px
}

.cardProf p
{
	font-size:14px;
	font-weight:500;
	color:#4B5563
}

.graduationLogo
{
	background-color:#6dc9464d;
	color:#6EC946;
	border-radius:15%
}

.adminSection
{
	display:flex;
	gap:30px;
	padding:30px;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:auto;
	align-items:baseline
}

.adminSection > *
{
	min-width:0;
	overflow:hidden
}

.helpSection
{
	font-family:'Nunito Sans',sans-serif;
	display:flex;
	flex-direction:column;
	width:100%;
	gap:50px;
	padding:30px;
	align-items:start
}

.helpParagraph
{
	gap:20px
}

.ProfSection
{
	display:flex;
	flex-direction:column;
	width:100%;
	align-items:flex-start;
	padding:30px
}

.RecapMyClasses
{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	width:100%;
	padding:25px 15px;
	gap:15px
}

.recapClassCard
{
	display:flex;
	flex-direction:column;
	font-family:'Nunito Sans',sans-serif;
	width:400px;
	height:fit-content;
	border-color:#4B55631F;
	border-style:solid;
	border-radius:20px;
	padding:15px;
	gap:10px
}

.recapClassCard p
{
	font-size:10px;
	font-weight:400
}

.recapClassCard .line1
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:10px
}

.recapClassCard .line2
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between
}

.recapClassCard .title
{
	display:flex;
	flex-direction:column
}

.recapClassCardLogo
{
	align-items:center;
	justify-content:center;
	border-radius:10px;
	padding:5px
}

.recapClassCard .title_className
{
	font-family:'Fraunces','serif';
	font-size:24px;
	font-weight:600
}

.recapClassCard .scoreRecap
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	width:fit-content;
	border-color:#FA03;
	background-color:#FA03;
	border-style:solid;
	border-radius:10px
}

.recapClassCard .scoreRecap h2
{
	color:#FFAA00c6
}

.recapClassCard .title_classText
{
	font-family:'Nunito Sans','serif';
	font-size:15px;
	font-weight:600
}

.recapClassCard .buttonLine
{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	gap:10px
}

.recapClassCard .buttonLine .button1
{
	background-color:#FFF;
	border-color:#387F81;
	border-style:solid;
	border-radius:5px;
	color:#387F81;
	padding:7px;
	gap:5px;
	display:flex;
	flex-direction:row;
	align-items:center
}

.recapClassCard .buttonLine .button2
{
	background-color:#387F81;
	border-color:#387F81;
	border-style:solid;
	border-radius:5px;
	color:#FFF;
	padding:7px;
	gap:5px;
	display:flex;
	flex-direction:row;
	align-items:center
}

.recapClassCard .buttonLine .button1 p
{
	font-weight:400;
	font-size:14px
}

.recapClassCard .buttonLine .button2 p
{
	font-weight:400;
	font-size:14px
}

.recapClassCard .buttonLine .button2:hover,.button1:hover
{
	cursor:pointer
}

.ClassroomHeader .StatBox
{
	font-family:'Fraunces','serif';
	font-weight:700;
	font-size:22px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:14px;
	border:2px solid #E5E7EB;
	padding:5px
}


.editInput {
	width: auto;
}